# Compiled Object files
*.o
*.out

# Compiled local project binaries
sender
receiver
test/runner

# macOS specific artifacts
.DS_Store
*.dSYM/
test/*.dSYM/

# Test artifacts and payloads
payload.bin
test_payload.bin
test/sandbox/
*.log
*.txt
